nav{
    padding: 0px !important;
}
.navbar-logo {
    height: 60px; /* Adjust the height */
    width: 100px; /* Maintain aspect ratio */
    margin-right: 10px; /* Add spacing between the logo and text */
  }